.image_top {
  margin-top: 0.5rem;
  animation: moveInBottom 3s ease-in;
  &_1 {
    width: 100%;
    outline: 1px solid $color-black;
  }
}
.image_middle {
  height: 100%;
  width: 100%;
  clip-path: circle(40% at 50% 50%);
  @include respond(phone) {
    clip-path:ellipse(45% 39% at 60% 55%);
  }
}
.image__bottom {
  height: 100%;
  width: 100%;
  clip-path: circle(40% at 50% 50%);
  
  @include respond(big-desktop) {
    clip-path:ellipse(36% 36% at 55% 48%);
  }
  @include respond(tab-land) {
    clip-path:ellipse(45% 39% at 60% 55%);
  }
  @include respond(tab-port) {
    clip-path:ellipse(45% 39% at 50% 55%);
  }
  @include respond(phone-l) {
    clip-path:ellipse(45% 39% at 50% 55%);
  }
  @include respond(phone) {
    clip-path:ellipse(45% 39% at 60% 55%);
  }
}
